{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": ["transform-runtime", "syntax-dynamic-import"],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
