<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Beenest" content="Beenest Platform">
  <meta name="theme-color" content="#ffffff">
  <meta name="google-site-verification" content="7SxlJd5QXAkrFlXwHL-vjoBTNDrIO62_XesENkTdhq8" />
  <meta name="description" content="Pay with credit card or crypto for travel. Beenest is the easiest way to spend and earn cryptocurrency when you travel." />
  <title>Beenest | Home for the Cryptocurrency Community</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
  <meta property="og:title" content="Beenest" />
  <meta property="og:description" content="Pay with credit card or crypto for travel. Beenest is the easiest way to spend and earn cryptocurrency when you travel." />
  <meta property="og:url" content="https://www.beenest.com" />
  <meta property="og:image" content="https://static.beenest.com/images/app/misc/host-cta-image.jpg" />
  <base href="/" />

  <!-- Start of Google Analytics script -->
  <script>
    window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End of google analytics script -->

  <!-- Start of Autopilot Script -->
  <script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="cc5d1efa0f754d97b4106c9140dda049ef263ec203be4495b0e8586f551c5994",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({"app":true});</script>
  <!-- End of autopilot script -->
</head>

<body>
  <div id="root"></div>
  <div id="bee-modal-root"></div>
  <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
</body>

</html>
