<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Beenest" content="Beenest Platform">
  <meta name="theme-color" content="#ffffff">
  <meta property="description" content="Book rentals and homes for your next business trip. Beenest is the easiest way for business travelers to book a home or rental." />
  <meta property="og:description" content="Book rentals and homes for your next business trip. Beenest is the easiest way for business travelers to book a home or rental." />
  <meta property="og:title" content="Beenest" />
  <meta property="og:url" content="https://www.beenest.com" />
  <meta property="og:image" content="https://static.beenest.com/images/app/misc/host-cta-image.jpg" />
  <meta name="google-site-verification" content="7SxlJd5QXAkrFlXwHL-vjoBTNDrIO62_XesENkTdhq8" />

  <title>Beenest | Book Rentals and Homes for your Business</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
  <base href="/" />

  <!-- Start of Google Analytics script -->
  <script>
    window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End of google analytics script -->
</head>

<body>
  <div id="root"></div>
  <div id="bee-modal-root"></div>
  <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
</body>

</html>
