<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="Beenest" content="Beenest Platform">
  <title>Beenest</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://static.beenest.com/theme/theme.min.css">
  <base href="/" />
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7DfwQwnhYjPzx8UIF0JHlgVeNwSDnZkY" async defer></script>
</head>

<body>
  <div id="root"></div>
  <div id="bee-modal-root"></div>
  <script type="text/javascript" src="vendor.js"></script>
  <script type="text/javascript" src="manifest.js"></script>
  <script type="text/javascript" src="work.js"></script>
</body>

</html>
