// carousel custom styles
.carousel-item {
  > img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  &.bee-center-carousel-text {
    div {
      bottom: auto;
      left: auto;
      right: auto;
      top: auto;
    }
  }
}

// custom fixed header height to ensure we know the exact header height
.custom-header-height {
  height: 4rem;

  nav {
    height: 100%;
  }
}


// add not-allowed cursor and no transform on disabled items
* {
  &:disabled {
    cursor: not-allowed;
    &:hover {
      transform: none;
    }
  }
}

// typography *bootstrap does not come with responsive typography by default
$custom-font-size-1: 0.875rem;
$custom-font-size-2: 1.5rem;
$custom-font-size-3: 2rem;
$custom-font-size-4: 2.5rem;
$custom-font-size-5: 3rem;
$custom-font-size-6: 3.5rem;
$custom-font-size-7: 4rem;
$custom-font-size-8: 4.5rem;

.custom-font-size-1 {
  font-size: $custom-font-size-1;
}

.custom-font-size-2 {
  font-size: $custom-font-size-2;
}

.custom-font-size-2 {
  font-size: $custom-font-size-3;
}

.custom-font-size-4 {
  font-size: $custom-font-size-4;
}

.custom-font-size-5 {
  font-size: $custom-font-size-5;
}

.custom-font-size-6 {
  font-size: $custom-font-size-6;
}

.custom-font-size-7 {
  font-size: $custom-font-size-7;
}

.custom-font-size-8 {
  font-size: $custom-font-size-8;
}

@media (min-width: 576px) {
  .custom-font-size-sm-1 {
    font-size: $custom-font-size-1;
  }

  .custom-font-size-sm-2 {
    font-size: $custom-font-size-2;
  }

  .custom-font-size-sm-2 {
    font-size: $custom-font-size-3;
  }

  .custom-font-size-sm-4 {
    font-size: $custom-font-size-4;
  }

  .custom-font-size-sm-5 {
    font-size: $custom-font-size-5;
  }

  .custom-font-size-sm-6 {
    font-size: $custom-font-size-6;
  }

  .custom-font-size-sm-7 {
    font-size: $custom-font-size-7;
  }

  .custom-font-size-sm-8 {
    font-size: $custom-font-size-8;
  }
}

@media (min-width: 768px) {
  .custom-font-size-md-1 {
    font-size: $custom-font-size-1
  }

  .custom-font-size-md-2 {
    font-size: $custom-font-size-2
  }

  .custom-font-size-md-2 {
    font-size: $custom-font-size-3;
  }

  .custom-font-size-md-4 {
    font-size: $custom-font-size-4;
  }

  .custom-font-size-md-5 {
    font-size: $custom-font-size-5;
  }

  .custom-font-size-md-6 {
    font-size: $custom-font-size-6;
  }

  .custom-font-size-md-7 {
    font-size: $custom-font-size-7;
  }

  .custom-font-size-md-8 {
    font-size: $custom-font-size-8;
  }
}

@media (min-width: 992px) {
  .custom-font-size-lg-1 {
    font-size: $custom-font-size-1
  }

  .custom-font-size-lg-2 {
    font-size: $custom-font-size-2
  }

  .custom-font-size-lg-2 {
    font-size: $custom-font-size-3;
  }

  .custom-font-size-lg-4 {
    font-size: $custom-font-size-4;
  }

  .custom-font-size-lg-5 {
    font-size: $custom-font-size-5;
  }

  .custom-font-size-lg-6 {
    font-size: $custom-font-size-6;
  }

  .custom-font-size-lg-7 {
    font-size: $custom-font-size-7;
  }

  .custom-font-size-lg-8 {
    font-size: $custom-font-size-8;
  }
}

@media (min-width: 1200px) {
  .custom-font-size-xl-1 {
    font-size: $custom-font-size-1
  }

  .custom-font-size-xl-2 {
    font-size: $custom-font-size-2
  }

  .custom-font-size-xl-2 {
    font-size: $custom-font-size-3;
  }

  .custom-font-size-xl-4 {
    font-size: $custom-font-size-4;
  }

  .custom-font-size-xl-5 {
    font-size: $custom-font-size-5;
  }

  .custom-font-size-xl-6 {
    font-size: $custom-font-size-6;
  }

  .custom-font-size-xl-7 {
    font-size: $custom-font-size-7;
  }

  .custom-font-size-xl-8 {
    font-size: $custom-font-size-8;
  }
}