$HEADER-HEIGHT: 4.125rem;

// home custom styles
.bee-home-affiliations,
.bee-home-testimonials {
  >div:last-of-type {
    margin-bottom: 0!important;
  }
}

.bee-home-hero-img {
  @media (min-width: 768px) {
    min-height: 0;
    height: 72vh;
  }
}

.bee-home-search-autocomplete {
  height: calc(3rem + 2px);
}

// login/signup styles
.bee-auth-container {
  min-height: calc(100vh - #{$HEADER-HEIGHT});
}

// carousel custom styles
.carousel-item {
  >img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  &.bee-center-carousel-text {
    div {
      bottom: auto;
      left: auto;
      right: auto;
      top: auto;
    }
  }
}

// custom fixed header height to ensure we know the exact header height
.custom-header-height {
   min-height: $HEADER-HEIGHT;

  nav {
    height: 100%;
  }
}

.bee-top {
  top: 4.125rem;
}

.bee-search-map {
  height: calc(100vh - 11.25rem);
  top: 11.25rem;
  z-index: 999;
}

// add not-allowed cursor and no transform on disabled items
* {
  &:disabled {
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
}

// flex div
.bee-flex-div {
  flex-grow: 1;
}
