.carousel-item {
  > img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  &.bee-center-carousel-text {
    div {
      bottom: auto;
      left: auto;
      right: auto;
      top: auto;
    }
  }
}

// bootstrap does not natively have this class
.cursor-pointer {
  cursor: pointer;
}

* {
  &:disabled {
    cursor: not-allowed;
    &:hover {
      transform: none;
    }
  }
}